<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="top_left">
            <div class="container">
              <div class="profil">
                <img
                  src="images/Profile.jpeg "
                  alt=""
                  width="156px"
                  height="135px"
                />
                <strong>Theo</strong>
                <span>Heart</span>
                <div class="middle">
                  <a href="">
                    <div class="icons">
                      <div>
                        <i
                          class="fa-brands fa-facebook-f"
                          style="color: #000000"
                        ></i>
                      </div>
                    </div>
                  </a>

                  <a href="">
                    <div class="icons">
                      <div>
                        <i
                          class="fa-brands fa-square-instagram"
                          style="color: #000000"
                        ></i>
                      </div>
                    </div>
                  </a>

                  <a href="">
                    <div class="icons">
                      <div>
                        <i
                          class="fa-brands fa-twitter"
                          style="color: #000000"
                        ></i>
                      </div>
                    </div>
                  </a>

                  <a href="">
                    <div class="icons">
                      <div>
                        <i
                          class="fa-brands fa-linkedin-in"
                          style="color: #000000"
                        ></i>
                      </div>
                    </div>
                  </a>

                  <a href="">
                    <div class="icons">
                      <div>
                        <i
                          class="fa-brands fa-youtube"
                          style="color: #000000"
                        ></i>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="line"></div>
              <div class="infobox">
                <div class="infocase">
                  <strong>Age</strong>
                  <span>24</span>
                </div>

                <div class="infocase">
                  <strong>Residence</strong>
                  <span>SK</span>
                </div>

                <div class="infocase">
                  <strong>Freelance</strong>
                  <span style="color: rgb(0, 255, 128)">Available</span>
                </div>

                <div class="infocase">
                  <strong>Address</strong>
                  <span>Seoul South Korea</span>
                </div>
              </div>
              <div class="line"></div>
              <div class="language">
                <div class="table">
                  <strong>Language</strong>
                </div>
                <div class="lang">
                  <div class="langbox">
                    <div class="langtxt">
                      <span>English</span>
                      <span>100%</span>
                    </div>
                    <div class="langline">
                      <div></div>
                    </div>
                  </div>

                  <div class="langbox">
                    <div class="langtxt">
                      <span>Korean</span>
                      <span>80%</span>
                    </div>
                    <div class="langline">
                      <div style="width: 208px"></div>
                    </div>
                  </div>

                  <div class="langbox">
                    <div class="langtxt">
                      <span>Russian</span>
                      <span>60%</span>
                    </div>
                    <div class="langline">
                      <div style="width: 190px"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="line"></div>
              <div class="language">
                <div class="table">
                  <strong>Skills</strong>
                </div>
                <div class="lang">
                  <div class="langbox">
                    <div class="langtxt">
                      <span>Html</span>
                      <span>90%</span>
                    </div>
                    <div class="langline">
                      <div></div>
                    </div>
                  </div>

                  <div class="langbox">
                    <div class="langtxt">
                      <span>Css</span>
                      <span>80%</span>
                    </div>
                    <div class="langline">
                      <div style="width: 208px"></div>
                    </div>
                  </div>

                  <div class="langbox">
                    <div class="langtxt">
                      <span>Js</span>
                      <span>70%</span>
                    </div>
                    <div class="langline">
                      <div style="width: 190px"></div>
                    </div>
                  </div>

                  <div class="langbox">
                    <div class="langtxt">
                      <span>Php</span>
                      <span>60%</span>
                    </div>
                    <div class="langline">
                      <div style="width: 190px"></div>
                    </div>
                  </div>

                  <div class="langbox">
                    <div class="langtxt">
                      <span>Wordpress</span>
                      <span>55%</span>
                    </div>
                    <div class="langline">
                      <div style="width: 190px"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="line"></div>
              <div class="language">
                <div class="table">
                  <strong>Extra Skills</strong>
                </div>
                <div class="extra">
                  <div class="extrabox">
                    <div class="extracase">
                      <img
                        src="icon/icon.svg"
                        alt=""
                        width="15px"
                        height="15px"
                      />

                      <span>Bootstrap, Materialize</span>
                    </div>

                    <div class="extracase">
                      <img src="icon/icon.svg" alt=""
                      width="15px"
                      height="15px"
                      />

                      <span>Stylus, Sass, Less</span>
                    </div>

                    <div class="extracase">
                      <img src="icon/icon.svg" alt="" 
                      width="15px"
                      height="15px"
                      />

                      <span>Gulp, Webpack, Grunt</span>
                    </div>

                    <div class="extracase">
                      <img src="icon/icon.svg" alt=""
                      width="15px"
                      height="15px"
                      />

                      <span>GIT Knowledge</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line"></div>
            </div>
          </div>
       
          <div class="center_frame">
            <div class="center_top">
              <div class="center_txt">
                <strong>Doctor neurologists
                  in OHSU Hospital </strong>
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Et, volutpat feugiat placerat lobortis. 
                    Natoque rutrum semper sed suspendisse nunc lectus.</span>
                    <a href=""><span class="push">HIRE ME -></span></a>
              </div>
              <img src="icon/your.svg" alt=""
              width="326px"
              height="446px"/>
            </div>
            <div class="down_box">
              <strong>My services</strong>
              <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                 Velit officia consequat duis enim velit mollit. lorem ipsum</span>
               <div class="in_box">
                <div class="in_boxes">
                  <img src="icon/coding.png" alt="" width="68px" height="68px"/>
                <strong>Web development</strong>
                <span>Blog, e-commerce</span>
                </div>

                <div class="in_boxes">
                  <img src="icon/illustration.png" alt="" width="68px" height="68px"/>
                <strong>UI/UX design</strong>
                <span>Mobile app, website design</span>
                </div>

                <div class="in_boxes">
                  <img src="icon/mic.png" alt="" width="68px" height="68px"/>
                <strong>Sound Design</strong>
                <span>Voice Over, Beat Making</span>
                </div>

                <div class="in_boxes">
                  <img src="icon/game.png" alt="" width="68px" height="68px"/>
                <strong>Game Design</strong>
                <span>Character Design, Props & Objects</span>
                </div>

                <div class="in_boxes">
                  <img src="icon/photo.png" alt="" width="68px" height="68px"/>
                <strong>Photography</strong>
                <span>Portrait, product photography</span>
                </div>

                <div class="in_boxes">
          
                <strong class="text">Advertising</strong>
                <span class="intext">Lorem ipsum dolor sit amet,
                   consectetur adipiscing elit.
                   Vitae nulla diam in ac dictum a urna 
                   viverra morbi. </span>
                   <a href="">ORDER NOW</a>
                </div>
               </div>
              </div>
             </div>
             <div class="right_frame">
              <a href=""><img src="images/moon.png" alt=""/></a>
              <div class="right_box">
                <a href=""><img src="images/home.svg" alt=""/></a>
                <a href=""><img src="images/code.svg" alt=""/></a>
                <a href=""><img src="images/study.svg" alt=""/></a>
                <a href=""><img src="images/portfolio.svg" alt=""/></a>
                <a href=""><img src="images/blog.svg" alt=""/></a>
                <a href=""><img src="images/contact.svg" alt=""/></a>
              </div>
             </div>
            </div> 
          </div>
        </div>
  </body>
</html>
